h1{
    text-align: center;
}
.frontImage{
    width: 500px;
    height: 400px;
}
#navigation {
    height: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar  {
    front-size: xx-large;
    float:left;
}

.navitem {
    outline-style:solid;
    outline-color: blue;
    outline-width: thick;
    display: block;
    padding: 8px;
    margin-left: 20px;
    background-color: royalblue;
}

body {
    background-color: deepskyblue;
}

#colorchanger{
   display: block; 
   padding: 8px;
   background-color: gold;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   outline-color: indigo;
   outline-style: ridge; 
}